/* Светлая тема по умолчанию */
:root {
  --bg-color: #ffffff;
  --text-color: #1f1f1f;
  --primary-color: #6366f1;
  --border-color: #d0d0d0;
  --table-bg: #f9f9f9;
  --table-header-bg: #f0f0f0;
}

/* Темная тема */
.dark {
  --bg-color: #121212;
  --text-color: #f5f5f5;
  --primary-color: #818cf8;
  --border-color: #333333;
  --table-bg: #1e1e1e;
  --table-header-bg: #2c2c2c;
}

/* Применяем переменные */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

/* .table {
  background-color: var(--table-bg);
}

.table th {
  background-color: var(--table-header-bg);
}

.select {
  background-color: var(--bg-color);
  color: var(--text-color);
  border-color: var(--border-color);
}

.select:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 4px rgba(99, 102, 241, 0.4);
} */
