/* === RESET === */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter, Arial, sans-serif;
  line-height: 1.5;
  background: var(--bg);
  color: var(--text);
  transition: background 0.25s, color 0.25s;
}

/* === THEME VARIABLES === */

:root {
  --bg: #eff0f1;
  --text: #464c55;

  --header-bg: #c6ac5d;
  --header-text: #ffffff;

  --card-bg: #2d0505;
}

body.dark {
  --bg: #1a1a1a;
  --text: #e5e7eb;

  --header-bg: #1f1f1f;
  --header-text: #fff;

  --card-bg: #2a2a2a;
/}

/* === GENERAL LAYOUT === */
#app {
  margin: 0, 0, 0 ,0;
  padding: 0;
}

/* === LINKS === */
a {
  color: rgb(32, 56, 48);
  text-decoration: none;
  padding: 3px;
  transition: 0.3s;
}

@media (hover: hover) {
  a:hover {
    background-color: #e0f0ff;
  }
}

/* === UTILITY CLASSES (на будущее) === */

.card {
  background: var(--card-bg);
  border-radius: 10px;
  padding: 1.2rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  margin-bottom: 1rem;
}

/* .btn {
  background: #4f46e5;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
} */

.btn:hover {
  opacity: 0.9;
}


.select,
input,
textarea {
  display: block;
  width: 100%;
  max-width: 400px;
  margin: 0.5rem 0;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
}

.select:focus,
input:focus,
textarea:focus {
  outline: none;
  border-color: #42b983;
  transition: border-color 0.3s ease;
} 